html{
	width: 15cm;
	background-image:url("http://eskipaper.com/images/digital-wallpaper-11.jpg");
	color: white;
	border:groove Blue 10px;
	margin: auto;
}

header{
	border: solid 10px;
	font-family:Impact, Charcoal, sans-serif;
	background-color: ;
	padding: 10px;
	text-align: center;
	margin: 1cm;
}

nav li a{
	color: #fff;
}
main{
	border-bottom: solid 2px;
	height: 3000px;
	margin: 19px;
	border-top: solid 2px;
}
article p a{
	color: #0ff;
}
main article {
	font-family:sans-serif;
	border: solid 3px;
	margin:10px;
	padding: 10px;
	width: 8cm;
	transform:translate(30%,20%);

}

footer{
	color:white;
	text-align: left;
}
main p{
	padding: 5px;
	text-align: center;
}

h3{
	text-align: center;
	color:white;
}

nav ul {
	text-align: center;
}
main article img {
   	display: block;
	text-align: center;
	margin: auto;
	height:1000px;
}
h1, p, {
	color:white;
}

h2{
	color:white;
	text-align: center;
}
a:visited {
    color: Cyan;
}
a:hover {
    color:white;
}
a:hover {
    text-decoration: underline;
}
a{
    background-color:DarkBlue;
    padding:5px;
    text-align: center; 
    text-decoration: none;
}
