html{
	width: 15cm;
	background-image:url("http://eskipaper.com/images/digital-wallpaper-11.jpg");
	color: white;
	border-right:groove Blue 10px;
	border-left:groove Blue 10px;
}

header{
	border: solid 10px;
	font-family:Impact, Charcoal, sans-serif;
	background-color: ;
	padding: 10px;
	text-align: center;
}

nav ul{
	list-style-position: inside;

}
main{
	border-bottom: solid 2px;
	height: 3000px;
}
article p a{
	background-color: #0ff;
}
main article {
	font-family:sans-serif;
	border: solid 3px;
	margin:10px;
	padding: 10px;
	width: 8cm;
	transform:translate(30%,20%);

}

footer{

}
main p{
	border-bottom: 2px solid;
	padding: 5px;
}

h3{
	background-color:
	color:
	border:
}

p {
	color:
}
