/*background-color
border
font-family
color
font-size
text-align
letter-spacing
background
border-radius
padding
width
height
Transform
text-decoration
margin
text-transform
text-shadow
outline
text-indent
font-style
*/
/* I learned how to use background images and how to use margin*/  

html{
	background-color:LightGrey;
	background-image:url("http://eskipaper.com/images/digital-wallpaper-11.jpg");
}
h1{
	word-spacing:1.0vh;
	border-style: solid;
	border-color:DarkRed;
	border-width:3px;
	font-family:fantasy;
	color:DarkGray;
	font-size:30px;
	background-color:black;
	text-align:center;
	text-decoration:underline;
	letter-spacing:0.5vw;
	border-radius: 25pt;
   	background:black;
    	padding: 20px; 
    	width: 950px;
    	height: 50px; 
	text-transform:uppercase;
	text-shadow:2px 2px #ff0000;
	font-style:italic;
	 
}
h2{
	border-style: solid;
	border-color:#8B0000; 
	font-family:arial;
	color:black;
	font-size:29px;
	background-color:DarkGrey;
	width:600px;
    	text-align: center;
	transform:translate(30%,10%);
}
p{
	border-style: solid;
	border-color:#8B0000;
	font-family:arial;
	color:black;
	font-size:25px;
	background-color:DarkGrey;
	width:500px;
	outline: aqua solid thick;
	text-indent: 1px;
	text-align:center;
	transform:translate(47%,10%);
}
f{
	border-style: solid;
	border-color:#8B0000;
	font-family:arial;
	color:black;
	font-size:15px;
	background-color:DarkGrey;
	width:500px;
	text-align:center;
	margin:10cm 10cm 10cm 9cm;
}


   /*Requirements

*Create a new file called "main.css"
*Add a link element to the head of your index.html file
*<link rel="stylesheet" href="main.css" type="text/css">
*Edit the main.css file
*add a declaration for each element in the body of your index.html file.
*add properties to style the background color of each element.
*add properties to style the border of each element.
*add properties to style the font and text of each element.
*Use at least 20 different properties. Include a list of these 20 at the TOP *of your main.css file as a css comment.
*Use at least 4 different units to set sizes of various aspects of your webpage.
*Go learn something from 2 classmates; add a comment to your main.css file that describes what you learned.
*View your index.html in the development server.
*Validate your index.html file.
*Validate your main.css file.
*Copy this list of requirements and paste it into your "main.css" file as a css comment. Put an asterisk in front of each one that you did.
*Upload to the production server with sftp.
*View your index.html in the production server.*/


