
header{
	border:
	font-family:Impact, Charcoal, sans-serif;
	background-color: 
	font-style:
}

nav{

}

main {
	font-family:sans-serif;
	border:
}

footer{
	border:
	color:
}

h1{
	background-color:
	border: 
	color:
}

h2{
	background-color:
	color:
	border:
}

h3{
	background-color:
	color:
	border:
}

p {
	color:
}
